[submodule "dependencies/sources/unique"]
	path = dependencies/sources/unique
	url = https://github.com/meelgroup/unique.git
[submodule "dependencies/sources/abc-fork-ufo"]
	path = dependencies/sources/abc-fork-ufo
	url = https://github.com/meelgroup/abc-fork-ufo.git
