[submodule "dependencies/build_dependencies/abc"]
	path = dependencies/build_dependencies/abc
	url = https://github.com/priyanka-golia/abc.git
[submodule "dependencies/build_dependencies/open-wbo"]
	path = dependencies/build_dependencies/open-wbo
	url = https://github.com/sat-group/open-wbo.git
